player-connection-mode=Connect
player-connection-guid=52884283
player-connection-debug=0
player-connection-project-name=Start2026_1
player-connection-wait-timeout=-1
player-connection-ip=10.240.83.70
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8d59faf5782f4deaa1fe33db94b0a73b
